.icon-customers {
  background: url("../images/icons/css-sprite-combined.png") 0px -0px;
  width: 48px;
  height: 46px;
  display: inline-block;
}

.icon-email {
  background: url("../images/icons/css-sprite-combined.png") -48px -1px;
  width: 45px;
  height: 45px;
  display: inline-block;
}

.icon-projects {
  background: url("../images/icons/css-sprite-combined.png") -93px -0px;
  width: 46px;
  height: 46px;
  display: inline-block;
}

.icon-ribon {
  background: url("../images/icons/css-sprite-combined.png") -139px -0px;
  width: 46px;
  height: 46px;
  display: inline-block;
}
.spn-amazon {
  background: url("../images/sponsors/css-sprite-combined.2.png") 0px -0px;
  width: 166px;
  height: 50px;
  display: inline-block;
}

.spn-figma {
  background: url("../images/sponsors/css-sprite-combined.2.png") -166px -0px;
  width: 182px;
  height: 50px;
  display: inline-block;
}

.spn-google {
  background: url("../images/sponsors/css-sprite-combined.2.png") -348px -0px;
  width: 154px;
  height: 50px;
  display: inline-block;
}

.spn-spotify {
  background: url("../images/sponsors/css-sprite-combined.2.png") -502px -0px;
  width: 167px;
  height: 50px;
  display: inline-block;
}

.spn-telerama {
  background: url("../images/sponsors/css-sprite-combined.2.png") -669px -0px;
  width: 153px;
  height: 50px;
  display: inline-block;
}
.sprite-team1 {
  background: url("../images/css-sprite-combined.2.png") 0px -640px;
  width: 342px;
  height: 342px;
  display: inline-block;
}

.sprite-team2 {
  background: url("../images/css-sprite-combined.2.png") -342px -640px;
  width: 342px;
  height: 342px;
  display: inline-block;
}

.sprite-team3 {
  background: url("../images/css-sprite-combined.2.png") -684px -640px;
  width: 342px;
  height: 342px;
  display: inline-block;
}

.sprite-team4 {
  background: url("../images/css-sprite-combined.2.png") -1026px -640px;
  width: 342px;
  height: 342px;
  display: inline-block;
}

.sprite-architect {
  background: url("../images/css-sprite-combined.2.png") -1368px -0px;
  width: 708px;
  height: 982px;
  display: inline-block;
}

.sprite-banner {
  background: url("../images/css-sprite-combined.2.png") -2076px -282px;
  width: 1440px;
  height: 700px;
  display: inline-block;
}
