@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:wght@500;600;700&family=Source+Sans+Pro:wght@300&family=Work+Sans:wght@400;500;600;700&display=swap");

:root {
  --dark-1: #131313;
  --gray-1: #424242;
  --gray-2: #727272;
  --gray-3: #a1a1a1;
  --white-1: #d0d0d0;
  --white-2: #e7e7e7;
  --white-3: #f3f3f3;
  --white-base: #ffffff;
  --orange-1: #ff900e;

  --font-weight-fourthH: 400;
  --font-weight-fifthH: 500;
  --font-weight-sixthH: 600;
  --font-weight-seventH: 700;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  /* font-family: "Poppins", sans-serif; */
  font-family: "Work Sans", sans-serif;
  min-height: 100vh;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  margin-top: 5rem;
  background-color: rgba(47, 167, 227, 0.191);
  min-height: 458rem;
}
header {
  height: 100%;
  padding-bottom: 2rem;
  margin-bottom: 3rem;
}
.nav {
  display: flex;
}
.logo {
  flex: 0 0 26%;

  font-weight: var(--font-weight-seventH);
  font-size: 4.5rem;
  line-height: 5.3rem;
  color: #131313;
}
.nav__links {
  flex: 1;

  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.link {
  padding: 1rem 0.5rem;
  list-style: none;
}
.link:not(:last-child) {
  margin-right: 4.5rem;
}
.anchor-link {
  text-decoration: none;
  color: var(--gray-1);
  font-size: 1.8rem;
  line-height: 2.6rem;
  font-weight: var(--font-weight-fifthH);
}
.header__details {
  display: flex;
  flex-direction: column;
}
.hdr-desc {
  flex: 0 0 40%;
  padding: 5rem 10rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.hdr-desc:last-child {
  margin-bottom: -5rem;
}
.hdr-pic {
  flex: 1;
}
.hdr-pic > img {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 0.5rem;
  /* margin-bottom: 2rem; */
}

.big {
  font-weight: var(--font-weight-seventH);
  font-size: 6.4rem;
  line-height: 7.5rem;
  text-align: center;
  color: var(--dark-1);
  margin: 2rem;
}
.small {
  font-weight: var(--font-weight-fourthH);
  font-size: 1.6rem;
  line-height: 2.6rem;
  text-align: center;
  color: var(--gray-2);
  margin: 2rem;
}

.for-button > button {
  width: 18rem;
  height: 6.4rem;
  background-color: var(--orange-1);
  border-radius: 0.8rem;
  border: none;
}
.hdr-desc-anchor {
  font-weight: var(--font-weight-fifthH);
  font-size: 2rem;
  line-height: 2.3rem;
  text-align: center;
  color: var(--white-base);
  text-decoration: none;
}
.sc {
  width: 100%;
  display: flex;
  margin: 4rem 0;
  padding: 2rem 0;
}
.sc-left {
  flex: 0 0 50%;

  display: grid;
  grid-template-columns: repeat(2, 0.5fr);
  grid-gap: 1rem;
  background-color: #fff;
  color: #444;
}
.sc-right {
  flex: 0 0 50%;
  margin-left: -1rem;
}
.box {
  color: #fff;
  border-radius: 5px;
  width: 30rem;
  height: 30rem;
  padding: 20px;
  font-size: 150%;
}
.a {
  background-image: url(../images/team1.png);
}
.b {
  background-image: url(../images/team2.png);
}
.c {
  background-image: url(../images/team3.png);
}
.d {
  background-image: url(../images/team4.png);
}
.sc-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.sc-right__title {
  color: var(--dark-1);
  font-weight: var(--font-weight-fifthH);
  font-size: 4.5rem;
  line-height: 5.3rem;
  text-align: left;
  padding: 1rem 1rem 0.5rem 2.5rem;
}
.ghiya {
  color: var(--gray-2);
}
.middle {
  color: var(--dark-1);
  font-weight: var(--font-weight-seventH);
}
.org {
  color: var(--orange-1);
  font-weight: var(--font-weight-seventH);
}
.sc-right__desco {
  font-weight: var(--font-weight-fourthH);
  font-size: 1.6rem;
  line-height: 2.6rem;
  text-align: left;
  color: var(--gray-2);
  padding: 1rem 1rem 0.5rem 2.5rem;
}
.sc-right__desc {
  font-weight: var(--font-weight-fourthH);
  font-size: 1.6rem;
  line-height: 2.6rem;
  text-align: left;
  color: var(--gray-2);
}
.fixed {
  padding: 1rem 1rem 1rem 2.5rem;
}
.sc-right-box {
  margin-left: 2rem;
}
.ts {
  height: 106.9rem;
  padding: 2rem 0;
  margin: 4rem 0;
  display: flex;
}
.ts-left {
  flex: 0 0 50%;
}
.ts-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ts-left__upside {
}
.ts-left__lowside {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 2rem;
}

.ts-right {
  flex: 0 0 50%;
  background-image: url(../images/architect.png);
  clip-path: polygon(45% 0, 100% 0, 100% 100%, 0% 100%);
  background-repeat: no-repeat;
  object-fit: cover;
  height: 98rem;

  position: relative;
}
.small-box {
  width: 55.5rem;
  background: #ffffff;
  box-shadow: 0px 4px 30px rgb(0 0 0 / 6%);
  border-radius: 8px;
  margin: 1.2rem 0;
  padding: 2rem 1rem;
}
.small-box__title {
  font-weight: var(--font-weight-sixthH);
  font-size: 2rem;
  line-height: 2.3rem;
  color: var(--dark-1);
  padding-left: 2.5rem;
}
/* .fixed {
  padding: 1rem 1rem 0.5rem 2.5rem;
} */
.experience-box {
  position: absolute;
  width: 34.2rem;
  height: 20rem;
  background-color: #ff900e;
  border-radius: 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  right: 0;
  bottom: 0;
  z-index: 11;
}
.year {
  font-weight: var(--font-weight-seventH);
  font-size: 6.5rem;
  line-height: 7rem;
  color: var(--white-base);
}
.exp {
  font-weight: var(--font-weight-fifthH);
  font-size: 2.5rem;
  line-height: 4rem;
  color: var(--white-base);
}
.ts-left__upside-title {
  font-weight: var(--font-weight-seventH);
  font-size: 4.5rem;
  line-height: 5.3rem;
  color: #131313;
  padding: 2rem 3rem;
  position: relative;
}

.ts-left__upside-title::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0.7rem;
  background-color: var(--orange-1);
}

.ts-left__upside-desc {
  font-weight: var(--font-weight-fourthH);
  font-size: 1.6rem;
  line-height: 2.6rem;
  text-align: left;
  color: var(--gray-2);
  padding: 2rem 1rem 0 0;
}
.fs {
  margin: 3rem 0;
  height: 38rem;
  display: flex;
  padding: 1rem 0;
  margin-bottom: 14rem;
  flex-direction: column;
}
.fs-header {
  flex: 0 0 30%;
}
.fs-header__title {
  font-weight: var(--font-weight-seventH);
  font-size: 4.5rem;
  line-height: 5.3rem;
  color: var(--dark-1);
  margin-bottom: 1.5rem;
}
.fs-header__desc {
  font-weight: var(--font-weight-fourthH);
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: var(--gray-2);
}
.fs-body {
  /* background-color: salmon; */
  flex-grow: 1;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.fs-body__box {
  border: 1px solid #ff900e;
  border-radius: 8px;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fs-body__box:hover {
  transform: scale(1.2, 1.2);
  transition: transform 0.5s cubic-bezier(1, -0.01, 0, 0.99);
}
.fs-body__box > img {
  height: 4.5rem;
  width: 4.5rem;
}
.songkha {
  font-weight: var(--font-weight-sixthH);
  font-size: 4.5rem;
  line-height: 5.3rem;
  color: var(--gray-1);
  padding: 0.5rem;
}
.orjon {
  font-weight: var(--font-weight-sixthH);
  font-size: 2rem;
  line-height: 2.3rem;
  color: var(--gray-2);
  padding: 0.5rem;
}
/* Video Section*/

.blur-video {
  position: relative;
  /* margin-top: 14rem; */
  border-top: 1rem solid var(--orange-1);
  padding: 14rem 0;
  /* margin-bottom: 18rem; */
  margin: -1rem 0;
}

.bv-title {
  font-size: 4rem;
  font-weight: 500;
  line-height: 4rem;
  position: absolute;
  letter-spacing: 2px;
  background-color: #ff8f0e95;
  width: 100%;
  top: 50%;
  border: 0.5rem solid #fbf7f7;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #191919;
  font-weight: 600;
}

footer {
  height: 47rem;
  /* padding: 2rem 0; */
  /* margin: 2rem 0; */
  /* margin-top: 2rem; */
}
.supporter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.supporter__big {
  font-weight: var(--font-weight-seventH);
  font-size: 4.5rem;
  line-height: 5.3rem;
  color: var(--dark-1);
  padding: 1rem;
  margin-bottom: 0.5rem;
}
.supporter__small {
  font-weight: var(--font-weight-fourthH);
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: var(--gray-2);
  padding: 1rem;
  margin-bottom: 0.5rem;
}
.companies {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 8rem 0;
}
.companies > img {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  height: 5rem;
  padding: 0.5rem 1rem;
}
.copyright {
  height: 10rem;
  background-color: #fff4e7;
  display: flex;
  align-items: center;
  justify-content: center;
}
.copyright__text {
  font-weight: var(--font-weight-fourthH);
  font-size: 2rem;
  line-height: 2.3rem;
  text-align: center;
  color: var(--gray-1);
}
